<div class='container' ng-keydown='Survey.keydownBox($event)'
  ng-keyup='Survey.keyupBox($event)'
  tabindex='0'>
  <div id='screen' ng-style="{'background-image' : 'url(/assets/pokemon.png)'}">
  </div>
  <div class='question-box' ng-show='Survey.i !== Survey.questions.length'>
  </div>
  <div class='answer-box' ng-show='Survey.i !== Survey.questions.length'>
    <div ng-repeat='option in Survey.question.options'
         ng-click='Survey.saveAnswer(option.value); Survey.toNext();'>
      <span ng-show='$index === Survey.optionIdx'>▶&nbsp;</span>
      <span ng-show='$index !== Survey.optionIdx'>&nbsp;&nbsp;</span>
      <span>{{option.text}}</span>
      <br />
    </div>
  </div>
  <div class="submit-box" ng-show='Survey.i === Survey.questions.length'
    ng-click='Survey.sendQuery()'/>
    <span>결과보기!</span>
</div>
